:root{
  --bg_header:#2c3e50;
  --bg_jumbo-button:#1abc9c;
  --bg_jumbo-button-hover:#1d927a;
  --bg_footer-top:#3a546d;
  --bg_card1:#ba4b63;
  --bg_card2:#1ea4b6;
  --bg_card3:#140f0f;
  --bg_card4:#1c83c1;
  --bg_card5:#0e38b5;
  --bg_card6:#ccb2a3;
  --white: rgb(255, 255, 255);
}

.debug{
  background-color: rgba(184, 135, 11, 0.309);
  border: 1px solid indigo;
}

.debug2{
  background-color: rgba(11, 184, 86, 0.309);
  border: 1px solid rgb(130, 0, 0);
}

img{
  max-width: 100%;
}

i{
  font-size: 1.8rem;
}

h3{
  font-size: 1rem;
}



header{
  /* height: 100px; */
  background-color: var(--bg_header);
}

/* my utilities */
.btn{
  background-color: var(--bg_jumbo-button);
  border-color: var(--white);
  color: var(--white);
}

.btn:hover{
  background-color: var(--bg_jumbo-button-hover);
  color: var(--white);
  border-color: var(--white);
}

.big_mb{
  margin-bottom: 100px;
}



.jumbo{
  margin-top: 90px;
  background-color: var(--bg_jumbo-button);
}

.jumbo img{
  max-width: 300px;
}

.star .line{
  width: 35%;
  height: 3px;
  background-color: var(--white);
}

.col-star{
  width: 20%;
}



/* fine jumbo */

.portfolio{
  margin-bottom: 100px;
}

.portfolio .line,
.contact-me .line{
  background-color: black;
}

.portfolio .star{
  margin: 20px auto;

}

.portfolio .cust-card{
  background-color: var(--bg_card1);
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.portfolio .cust-card img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.plus-hidden{
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.5rem;
  border-radius: 20px;
  background-color:#1abc9c69;
  vertical-align: middle;
}

.plus-hidden i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.5rem;
}

.col:hover .plus-hidden{
  display: block;
}

/* .work img:hover{
  z-index: 1;
  background-color: #1abc9c61;
} */

/* .overlay{
  display: none;
  position: absolute;
  width: 95%;
  padding:  86px 140px ;
  border-radius: 20px;
  background-color: #1abc9c7d;
}

.overlay i{
  color: rgba(255, 255, 255, 0.548);
  font-size: 4.5rem;
}

.work:hover .overlay{
  display: block;
  
}

.work{
  position: relative;
} */

.about{
  background-color: var(--bg_jumbo-button);
}

.about h2{
  font-size: 3rem;
}

.about .btn i{
  font-size: 1rem
}

input{
  width: 90%;
}

.my_container {
  margin: 0 auto;
  width: 60%;
}

.my_form input,
.my_form textarea {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.my_form input:focus,
.my_form textarea:focus {
  box-shadow: none;
}

.my_form input::placeholder,
.my_form textarea::placeholder {
  color: #2b3d4f;
  
} 



.footer-top{
  background-color: var(--bg_footer-top);
}

.footer-top h2{
  font-size: 1rem;
}

.icon{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--bg_footer-top);
  border: 1px solid var(--white);
}

.icon i{
  font-size: 1.1rem;
}

.footer-top span{
  color: var(--bg_jumbo-button);
}

.icon-group{
  margin: 0 20px ;
}

.footer-down{

  background-color: var(--bg_header);
}


@media(min-width:768px){
  h3{
    font-size: 1.3rem;
  }
}
