:root{
  --bg_header:#2c3e50;
  --bg_jumbo-button:#1abc9c;
  --bg_jumbo-button-hover:#1d927a;
  --bg_footer-top:#3a546d;
  --bg_card1:#ba4b63;
  --bg_card2:#1ea4b6;
  --bg_card3:#140f0f;
  --bg_card4:#1c83c1;
  --bg_card5:#0e38b5;
  --bg_card6:#ccb2a3;
  --white: rgb(255, 255, 255);
}

.debug{
  background-color: rgba(184, 135, 11, 0.309);
  border: 1px solid indigo;
}

.debug2{
  background-color: rgba(11, 184, 86, 0.309);
  border: 1px solid rgb(130, 0, 0);
}

img{
  max-width: 100%;
}

i{
  font-size: 1.8rem;
}

h3{
  font-size: 1.3rem;
}

header{
  /* height: 100px; */
  background-color: var(--bg_header);
}

/* my utilities */
.btn{
  background-color: var(--bg_jumbo-button);
  border-color: var(--white);
  color: var(--white);
}

.btn:hover{
  background-color: var(--bg_jumbo-button-hover);
  color: var(--white);
  border-color: var(--white);
}

.big_mb{
  margin-bottom: 100px;
}



.jumbo{
  margin-top: 90px;
  background-color: var(--bg_jumbo-button);
}

.jumbo img{
  max-width: 300px;
}

.star .line{
  width: 35%;
  height: 3px;
  background-color: var(--white);
}

.col-star{
  width: 20%;
}



/* fine jumbo */

.portfolio img{
  border-radius: 20px;
}

.portfolio .line,
.contact-me .line{
  background-color: black;
}

.about{
  background-color: var(--bg_jumbo-button);
}

.about h2{
  font-size: 3rem;
}

.about .btn i{
  font-size: 1rem
}

input{
  width: 90%;
}

.my_container {
  margin: 0 auto;
  width: 60%;
}

.my_form input,
.my_form textarea {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.my_form input:focus,
.my_form textarea:focus {
  box-shadow: none;
}

.my_form input::placeholder,
.my_form textarea::placeholder {
  color: #2b3d4f;
  
} 

/* .my_button {
  background-color: #1abc9c;
  border: none;
} */

/* .my_button:hover {
  background-color: #137964;
} */



.footer-top{
  height: 200px;
  background-color: var(--bg_footer-top);
}

.footer-down{
  height: 100px;
  background-color: var(--bg_header);
}
